/* global elements */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cyberGrape: #49416d;
  --lavenderFloral: #a882dd;
  --middleRed: #e08d79;
  --honeydew: #e0efde;
  --magicMint: #b3f2dd;
  --black: #000;
  --white: #fff;
}

body {
  background: linear-gradient(to bottom, #b7e7fb 0%, #d0f1fd 75%, #ffffff 100%);
  font-family: sans-serif, Verdana, Tahoma;
  line-height: 1.8;
}

/* Clouds */

.cloud__cloud1 {
  margin-top: 15vh;
  position: absolute;
  animation: slide 30s linear infinite;
  z-index: -1;
}

.cloud__cloud2 {
  margin-top: 20vh;
  position: absolute;
  animation: slide2 25s linear infinite;
}

.cloud__cloud1--cl1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--white);
}

.cloud__cloud1--cl2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 25px;
  background: var(--white);
}

.cloud__cloud1--cl3 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 100px;
  background: var(--white);
}

.cloud__cloud1--cl4 {
  width: 110px;
  height: 15px;
  background: var(--white);
  position: absolute;
  left: 25px;
  top: 35px;
}

@keyframes slide {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(88vw);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(-10vw);
  }
  to {
    transform: translateX(88vw);
  }
}

/* Header and Navigation styles) */

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media all and (max-width: 800px) {
  header {
    justify-content: space-around;
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }
  header {
    height: 200px;
  }
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 20px 0 0;
}

nav li a {
  color: var(--cyberGrape);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px;
}

nav li a:hover {
  background-color: var(--cyberGrape);
  color: var(--honeydew);
}

/* Headlines */
.headlines {
  width: 100vw;
  padding: 20px;
  margin-bottom: 20px;
}

.headline-dev,
.headline-agile {
  background-color: var(--cyberGrape);
  color: white;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 1.7rem;
}

/* Work and private section*/

.work,
.private {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.work-pic,
.private-pic {
  max-width: 600px;
}

.circle {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.icon {
  max-width: 60px;
  position: absolute;
  animation: grow 10s ease-in-out infinite;
}

@keyframes grow {
  0% {
    max-width: 60px;
  }
  50% {
    max-width: 68px;
  }
  100% {
    max-width: 60px;
  }
}

.icon1 {
  top: 20%;
  left: 15%;
}

.icon2 {
  top: 5%;
  left: 75%;
}

.icon3 {
  top: 80%;
  left: 65%;
}

.icon4 {
  top: 80%;
  left: 15%;
}

.icon5 {
  top: 10%;
  left: 5%;
}

.icon6 {
  top: 70%;
  left: 80%;
}

.work-content,
.private-content {
  padding: 20px;
  max-width: 600px;
}

.icon-cloud {
  position: relative;
}

/* cat pictures */

.catpics {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

/* Contact */

.contact {
  text-align: center;
}
