.headlines {
  width: 100vw;
  padding: 20px;
  margin-bottom: 20px;
}

.headline-dev,
.headline-agile {
  background-color: var(--cyberGrape);
  color: white;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 1.7rem;
}
