.work,
.private {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.work-pic,
.private-pic {
  max-width: 600px;
}

.circle {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.icon {
  max-width: 60px;
  position: absolute;
  animation: grow 10s ease-in-out infinite;
}

@keyframes grow {
  0% {
    max-width: 60px;
  }
  50% {
    max-width: 68px;
  }
  100% {
    max-width: 60px;
  }
}

.icon1 {
  top: 20%;
  left: 15%;
}

.icon2 {
  top: 5%;
  left: 75%;
}

.icon3 {
  top: 80%;
  left: 65%;
}

.icon4 {
  top: 80%;
  left: 15%;
}

.icon5 {
  top: 10%;
  left: 5%;
}

.icon6 {
  top: 70%;
  left: 80%;
}

.work-content,
.private-content {
  padding: 20px;
  max-width: 600px;
}

.icon-cloud {
  position: relative;
}
